<%- include('../partials/header.ejs') %>
<% if (user_email.length > 0) { %>
    <p>You are logged in with email: <%= user_email %></p>
    <a href="/auth/logout">Logout</a>
    <br></br>
<% } %>
<h1>Report evening!</h1>
<% if (!this_evening_reported) { %>
    <h2>Submit a new report from this evening</h2>
<% } else { %>
    <h2>You are changing already submitted evening report</h2>
<% } %>
<form method="POST" action="/behavior/reporting/evening">
    <br>
    <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'date'}) %>
    <p>Day to report. Can be empty, when current date is used.</p>
    <input type="date" name="date" />
    </br>
    <br>
    <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'sports_and_exercises'}) %>
    <p>Time spent on sports and exercise from 0 to 24h. Decimals are accepted.</p>
    <input type="number" name="sports_and_exercises" step=".1" min=0 max=24 value="0" />
    </br>
    <br>
    <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'studying'}) %>
    <p>Time spent on studying from 0 to 24h. Decimals are accepted.</p>
    <input type="number" name="studying" step=".1" min=0 max=24 value="0" />
    </br>
    <br>
    <div>
        <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'reg_and_eating'}) %>
        <p>Regularity and quality of eating:</p>
        1 <input name="reg_and_eating" type="radio" value="1"/>
        2 <input name="reg_and_eating" type="radio" value="2"/>
        3 <input name="reg_and_eating" type="radio" value="3"/>
        4 <input name="reg_and_eating" type="radio" value="4"/>
        5 <input name="reg_and_eating" type="radio" value="5"/>
    </div>
    </br>
    <br>
    <div>
        <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'generic_mood'}) %>
        <p>Generic mood:</p>
        1 <input name="generic_mood" type="radio" value="1"/>
        2 <input name="generic_mood" type="radio" value="2"/>
        3 <input name="generic_mood" type="radio" value="3"/>
        4 <input name="generic_mood" type="radio" value="4"/>
        5 <input name="generic_mood" type="radio" value="5"/>
    </div>
    </br>
    <input type="submit" value="Submit report!" />
</form>
<% if (message.length > 0 && message.includes("not")) { %>
    <p style="color:red"><%= message %></p>
<% } else if (message.length > 0) { %>
    <p style="color:green"><%= message %></p>
<% } %>
<%- include('../partials/footer.ejs') %>