<%- include('../partials/header.ejs') %>
<a href="/behavior/reporting">Back to reporting main page!</a>
<% if (user_email.length > 0) { %>
    <p>You are logged in with email: <%= user_email %></p>
    <a href="/auth/logout">Logout</a>
    <br></br>
<% } %>
<h1>Report morning!</h1>
<% if (!this_morning_reported) { %>
    <h2>Submit a new report from this morning</h2>
<% } else { %>
    <h2>You are changing already submitted morning report</h2>
<% } %>
<form method="POST" action="/behavior/reporting/morning">
    <br>
    <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'date'}) %>
    <label for="date">Day to report. Can be empty, when current date is used.</label>
    <input type="date" name="date" />
    </br>
    <br>
    <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'sleep_duration'}) %>
    <label for="sleep_duration">Sleep duration from 0 to 24h. Decimals are accepted.</label>
    <input type="number" name="sleep_duration" step=".1" min=0 max=24 value="0" />
    </br>
    <br>
    <div>
        <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'sleep_quality'}) %>
        <label for="sleep_quality">Sleep quality:</label>
        1 <input name="sleep_quality" type="radio" value="1"/>
        2 <input name="sleep_quality" type="radio" value="2"/>
        3 <input name="sleep_quality" type="radio" value="3"/>
        4 <input name="sleep_quality" type="radio" value="4"/>
        5 <input name="sleep_quality" type="radio" value="5"/>
    </div>
    </br>
    <br>
    <div>
        <%- include('../partials/print_errors.ejs', { errors: errors, attribute: 'generic_mood'}) %>
        <label for="generic_mood">Generic mood:</label>
        1 <input name="generic_mood" type="radio" value="1"/>
        2 <input name="generic_mood" type="radio" value="2"/>
        3 <input name="generic_mood" type="radio" value="3"/>
        4 <input name="generic_mood" type="radio" value="4"/>
        5 <input name="generic_mood" type="radio" value="5"/>
    </div>
    </br>
    <input type="submit" value="Submit report!" />
</form>
<% if (message.length > 0 && message.includes("not")) { %>
    <p style="color:red"><%= message %></p>
<% } else if (message.length > 0) { %>
    <p style="color:green"><%= message %></p>
<% } %>
<%- include('../partials/footer.ejs') %>