<%- include('./partials/header.ejs') %>
<h1>Summary page!</h1>
<form method='POST' action='/behavior/summary'>
    <input type='week' name='week' />
    <input type='month' name='month' />
    <input type='submit' value='Get selected week/month!' />
</form>
<% if (default_week) { %>
    <br><h2>Summary about last week:</h2></br>
<% } else { %>
    <br><h2>Showing week number <%= week_number %> of year <%= week_year %>:</h2></br>
<% } %>
<ul>
    <% if (!week_data_nullable) { %>
        <% week_summary.forEach((obj) => { %>
            <br>Average sleep duration: <%= obj.avg_sleep_dur %> hours</br>
            <br>Average time doing sports and exercises: <%= obj.avg_time_sports %> hours</br>
            <br>Average time studying: <%= obj.avg_time_studying %> hours</br>
            <br>Average generic mood: <%= obj.avg_gen_mood %></br>
        <% }); %>
    <% } else { %>
        <br>No data exist, please select another week!</br>
    <% } %>
</ul>
<%- include('./partials/footer.ejs') %>